@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
body {
    margin: 0px;
    padding: 0px;
    font-family: "Oswald";
}
.bar {
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: #df1f1f;
    z-index: 999;
    left: 0px;
    top: 0px;
}
.icon {
    position: relative;
    top: 0px;
    left: 0px;
    width: 10%;
    height: 100%;
}
.icon img {
    width: 80px;
    height: 80px;
    margin: 7.5px;
}
.me {
    position: absolute;
    top: 0px;
    left: 7%;
    width: 5%;
    height: 100%;
    font-size: 60px;
    text-align: center;
}
.menu-items {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80%;
    height: 100%;
}
.item1 {
    width: 15%;
    height: 100%;
    position: absolute;
    top: 0px;
    right:45%
}
.item2 {
    width: 15%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 30%;
}
.item3 {
    width: 15%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 15%;
}
.item4 {
    width: 15%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}
.button {
    background-color: #df1f1f;
    font-family: "Oswald";
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 25px;
    border: none;
}
.item1:hover > button {
    text-decoration: underline;
}
.item2:hover > button {
    text-decoration: underline;
}
.item3:hover > button {
    text-decoration: underline;
}
.item4:hover > button {
    text-decoration: underline;
}
@media (max-width: 1300px) {
    .me {
        position: absolute;
        top: 0px;
        left: 15%;
    }
}
@media (max-width: 650px) {
    .item1 {
        width: 20%;
        right: 60%;
    }
    .item2 {
        width: 20%;
        right: 40%;
    } 
    .item3 {
        width: 20%;
        right:20%;
    } 
    .item4 {
        width: 20%;
    }
}
@media (max-width: 580px) {
    .bar {
        height: 310px;
    }
    .me {
        height: 100px;
        width: 80%;
        right: 0px;
    }
    .menu-items {
        position: absolute;
        top: 100px;
        width: 100%;
        right: 0px;
        height: 210px;
    }
    .item1 {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 50px;
    }
    .item2 {
        top: 50px;
        left: 0px;
        width: 100%;
        height: 50px;
    }
    .item3 {
        top: 100px;
        left: 0px;
        width: 100%;
        height: 50px;
    }
    .item4 {
        top: 150px;
        left: 0px;
        width: 100%;
        height: 50px;
    }
    .button {
        height: 100%;
    }
    .slider {
        display: none;
    }
    .btnWeiter {
        display:none;
    }

}
.slider {
    width: 90%;
    height: 60%;
    position: absolute;
    top: 12%;
    background-color: black;
    left: 5%;
}
.slider-button {
    height: 80%;
    width: 5%;
    background-color: black;
    color: white;
    font-size: 40px;
}
#sliderleft {
    position: absolute;
    top: 10%;
    left: 5px;
}
#sliderright {
    position: absolute;
    top: 10%;
    right: 5px;
}
.slide {
    position: absolute;
    height: 100%;
    width: 90%;
    top: 0px;
    left: 5%;
}
.slider-img {
    width: 19%;
    height: 55%;
    position: absolute;
    top: 5%;
    left: 5%;
}
.slide-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;

}
.slider-txt {
    color: white;
    position: absolute;
    height: 90%;
    width: 65%;
    right: 5%;
    top: 5%;
    text-align: right;
    font-size: 30px;
    padding-top: 15%;
}
.slider-related {
    position: absolute;
    width: 300px;
    top: 65%;
    left: 5%;
    height: 30%;
    text-align: center;
    font-size: 30px;
    color: white;
}
.slider-related a {
    color: white;
    text-decoration: underline;
}
.btnWeiter {
    position: absolute;
    top: 75%;
    width: 90%;
    height: 15%;
    border: none;
    background-color:#df1f1f;
    color: black;
    border-radius: 40px;
    font-size: 60px;
    left: 5%;
}
.animationButton {
    animation: BtnWeiter 2s ease 6s infinite normal forwards;
}
@keyframes BtnWeiter {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}
.slider-button:hover {
    background-color:#df1f1f;
    opacity: 0.5;
}
.animationButton:hover {
    animation: none;
}
@media (max-width: 1500px) {
    .slider-img {
        height: 40%;
    }
}
@media (max-width: 1200px) {
    .slider-img {
        height: 35%;
    }
}
.section {
    width: 100%;
    font-family: "Oswald";
}
.section h1 {
    text-align: center;
    font-size: 60px;
}
.artikelZuThema {
    text-align: center;
}
.artikelZuThema a {
    text-decoration: none;
}
.artikelZuThema a:hover {
    text-decoration: underline;
}
.sectionInner {
    width: 90%;
}
#section1 {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 50%;
    background-color:#df1f1f;
    color: black;
}
#section2 {
    position: absolute;
    top: 150%;
    left: 0px;
    height: 125%;
    background-color: black;
    color: white;
}
#section3 {
    position: absolute;
    top: 275%;
    left: 0px;
    height: 100%;
    background-color: white;
    color: #df1f1f;
}
#section4 {
    position: absolute;
    top: 375%;
    left: 0px;
    height: 175%;
    background-color: #df1f1f;
    color: white;
}
#section5 {
    position: absolute;
    top: 550%;
    left: 0px;
    height: 75%;
    background-color: black;
    color: white;
}
.txt {
    text-align: center;
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
}
h2 {
    font-size: 40px;
    text-align: center;
}
.sectionW {
    background-color: white;
    color:black;
}
.sectionB {
    background-color: black;
    color: white;
}
.sectionR {
    background-color: #df1f1f;
    color: white;
}
.InnerSection1 {
    position: absolute;
    bottom: 45%;
    height: 20%;
    left: 5%;
    border: solid;
}
.InnerSection2 {
    position: absolute;
    bottom: 25%;
    height: 20%;
    left: 5%;
    border: solid;
}
.InnerSection3 {
    position: absolute;
    bottom: 5%;
    height: 20%;
    left: 5%;
    border: solid;
}
.InnerSection4 {
    position: absolute;
    bottom: 30%;
    height: 25%;
    left: 5%;
    border: solid;
}
.InnerSection5 {
    position: absolute;
    bottom: 5%;
    height: 25%;
    left: 5%;
    border: solid;
}
.InnerSection6 {
    position: absolute;
    bottom: 61%;
    height: 14%;
    left: 5%;
    border: solid;
}
.InnerSection7 {
    position: absolute;
    bottom: 47%;
    height: 14%;
    left: 5%;
    border: solid;
}
.InnerSection8 {
    position: absolute;
    bottom: 33%;
    height: 14%;
    left: 5%;
    border: solid;
}
.InnerSection9 {
    position: absolute;
    bottom: 19%;
    height: 14%;
    left: 5%;
    border: solid;
}
.InnerSection10 {
    position: absolute;
    bottom: 5%;
    height: 14%;
    left: 5%;
    border: solid;
}
.getInLinks {
    animation: getInLinks 3s ease 0s 1 normal forwards;
}
.getInRechts {
    animation: getInRechts 3s ease 0s 1 normal forwards;
}
@keyframes getInLinks {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes getInRechts {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.email {
    position: absolute;
    top: 17%;
    left: 5%;
    height: 73%;
    border: solid white;
    border-radius: 20px;
    width: 90%;
}
.email-erklärung {
    position: absolute;
    top: 1%;
    height: 5%;
    font-size: 30px;
    text-align: center;
    width: 100%;
    left: 0px;
}
#email-adresse {
    position: absolute;
    top: 10%;
    height: 10%;
    font-size: 30px;
    text-align: center;
    width: 80%;
    left: 10%;
    border: none;
    border-radius: 20px;
}
.email-körper-erklärung {
    position: absolute;
    top: 22%;
    height: 5%;
    text-align: center;
    width: 100%;
    left: 0px;
    font-size: 30px;
}
#email-body {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 40%;
    font-size: 30px;
    text-align: center;

}
#email-erfolg {
    text-align:center;
    text-decoration:underline;
    color: #df1f1f;
    font-size: 20px;
    width: 90%;
    position: absolute;
    top: 75%;
    left: 5%;
    height: 5%;
}
#email-submit {
    width: 50%;
    position: absolute;
    top: 85%;
    height: 10%;
    left: 25%;
    background-color: white;
    color: black;
    font-family: "Oswald";
    font-size: 30px;
    border-radius: 20px;
}
#email-submit:hover {
    animation: btnSenden 2s ease 0s 1 normal forwards;
}
@keyframes btnSenden {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}
.linkR {
    color: #df1f1f;
    font-size: 30px;
}
.linkR:hover {
    font-size: 40px;
}
.linkW {
    color: white;
    font-size: 30px;
}
.linkW:hover {
    font-size: 40px;
}
.hide {
    display: none;
}
.meB {
    position: absolute;
    height: 90%;
    width: 100%;
    top: 10%;
    left: 0px;
}
.text1 {
    position: absolute;
    top: 30%;
    width: 20%;
    font-size: 90px;
    height: 15%;
    left: 40%;
    color: #df1f1f;
    animation: textEinleitung 4s ease 0s 1 normal forwards;
}
.text2 {
    position: absolute;
    top: 45%;
    width: 20%;
    left: 40%;
    color: white;
    font-size: 100px;
    height: 15%;
    animation: colorChange 15s ease 4s normal forwards;
}
.text3 {
    position: absolute;
    top: 60%;
    width: 40%;
    left: 40%;
    color: #df1f1f;
    font-size: 90px;
    height: 15%;
    animation: textEinleitung 4s ease 0s 1 normal forwards;
}
@keyframes textEinleitung {
	0% {
		transform: scaleX(0);
	}

	100% {
		transform: scaleX(1);
	}
}
@keyframes colorChange {
    0% {
        color: white;
    }
    5% {
        color: blue;
    }
    10% {
        color: green;
    }
    15% {
        color: yellow;
    }
    20% {
        color: red;
    }
    25% {
        color: black;
    }
    30% {
        color: purple;
    }
    35% {
        color: turquoise;
    } 
    40% {
        color: lightgreen;
    }
    45% {
        color: #df1f1f;
    }
    50% {
        color: brown;
    }
    55% {
        color: blue;
    }
    60% {
        color: orange;
    }
    65% {
        color: red;
    }
    70% {
        color: yellow;
    }
    75% {
        color: green;
    }
    80% {
        color: white;
    }
    85% {
        color: black;
    }
    90% {
        color: grey;
    }
    95% {
        color: orange;
    }
    100% {
        color: #df1f1f;
    }
}